*{font-family: 'Poppins', sans-serif; font-variant: small-caps;}
body{background-color: #000; margin-top: 35vh; text-align: center;}
h1{font-weight: 500;font-size: 5rem; color: #fff;}
h2{color: #b3b3ac;}
h5{color: #5865f2;}